body {
    background: #fff;
}
* {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    padding-top: 0.5em;
    color: #000 !important;
}

li {
    list-style-position: inside;
}

li, span, pre {
    background-color: #fff;
    opacity: 0.75;
    font-size: 80%;
}

ul {
    width: 50%;
}

section {
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 2%;
    width: 100%;
}

.reveal a {
    color: #767676 !important;
}

.slide-1 {
    background-image: url('../images/westalktornadoranch.png');
    background-position: -1em 1em;
}

.slide-1 a {
    background-color: #fff;
    opacity: 0.60;
}

.slide-2 {
    background-image: url('../images/westalkwhois.png');
    background-position: -3em 0;
}

.slide-4, .slide-5 {
    background-image: url('../images/westalktornados.png');
}

.slide-7 {
    background-image: url('../images/morganwhy.jpg');
}

.slide-7 h2 {
    background-color: #fff;
    opacity: 0.75;
}

.slide-8, .slide-9, .slide-10 {
    margin-top: 10%;
}

.slide-28 {
    background-image: url('../images/websockets.jpg');
}

.async {
    background-image: url('../images/westalkasynch.png');
    background-position: -1em 0;
}

.cats {
    background-image: url('../images/westalkstringingcats.png');
}

.restful {
    background-image: url('../images/westalkrestful.png');
}

.best {
    background-image: url('../images/westalkbestman.png');
    background-position: -2em -1em;
}

.bestsection li {
    margin-bottom: 0.5ex;
}

.tricks {
    background-image: url('../images/westalktipsandtricks.png');
    background-position: -2em 0;
}

.exit1 {
    background-image: url('../images/westalksysexit1.png');
}

.exit2 {
    background-image: url('../images/westalkexitmoped.png');
    background-position: 1000px 0;
}

.exit3 {
    background-image: url('../images/westalkexitmob.png');
    background-position: 1000px 0;
}

.animate-exit2 {
    -webkit-animation-duration: 8s;
    -webkit-animation-name: slidein;
    -moz-animation-duration: 8s;
    -moz-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

@-moz-keyframes slidein {
  from {
    background-position: -14em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

.animate-exit3 {
    -webkit-animation-duration: 8s;
    -webkit-animation-name: slidein2;
    -moz-animation-duration: 8s;
    -moz-animation-name: slidein2;
}

@-webkit-keyframes slidein2 {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

@-moz-keyframes slidein2 {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../../fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../../qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../../RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../../HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
